@charset "utf-8";
/* ------------------------------------------------------------------------------ */
/* common video */
/* ------------------------------------------------------------------------------ */

/* video container */
.videoContainer { display:block; position:relative; width:100%; height:auto; margin:0 auto!important; padding:0 0 20px 0; overflow:hidden; }		

	/* video player container */
	.videoContainer .video { height:auto; margin:0 auto; padding:0;	background-color:#000; }
	
	/* no flash */
	.noflash { color:#aaa; text-align:center; padding:0!important; }
	.noflash a,
	.noflash a:hover,
	.noflash a:focus { color:#ccc; text-decoration:underline; }
	

/* ------------------------------------------------------------------------------ */
/* static video */
/* ------------------------------------------------------------------------------ */

/* static video container */
.videoContainerStatic {  }


/* ------------------------------------------------------------------------------ */
/* popup video */
/* ------------------------------------------------------------------------------ */

/* popup video container */
.videoContainerPopup { 
	display:block; position:absolute; top:0; left:0; width:100%; height:auto; margin:0 auto; padding:0; overflow:visible; z-index:2000; }

	/* videoBg */
	.videoContainerPopup .videoBg { 
		display:block; position:relative; width:auto; height:auto; margin:0 auto; padding:0; overflow:visible; }
		
		/* video player container*/
		.videoContainerPopup .video { 
			height:auto; margin:0 auto; padding:0; 
			background-color:#000; border:5px solid #000;
			/*box-shadow*/-webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5); box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5); }
			
/* custom dimensions */
.videoContainerPopup.videoContainer640360 .video	{ width:640px; height:360px; }
.videoContainerPopup.videoContainer640400 .video	{ width:640px; height:400px; }