@font-face {
    font-family:'Lovelo';
    src: url('lovelo_black-webfont.eot');
    src: url('lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('lovelo_black-webfont.woff') format('woff'),
         url('lovelo_black-webfont.ttf') format('truetype'),
         url('lovelo_black-webfont.svg#loveloblack') format('svg');
    font-weight:900;
    font-style:normal;
}
/* force chrome to render SVG font */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:'Lovelo';
		src:url('lovelo_black-webfont.svg#loveloblack') format('svg');
    }
}
